/* ============== messages ============== */
.message-sidebar {
    border-right: 1px solid #EEE;
    margin: -20px;
    margin-right: 0;
}

.message-sidebar a.message-preview {
    display: block;
    background-color: #F6F6F6;
    border-bottom: 1px solid #EEE;
    padding: 5px 10px 30px 10px;
}

.message-sidebar a.message-preview h4 {
    font-weight: 400;
    text-transform: none;
}

.message-sidebar a.message-preview p, .message-sidebar a.message-preview h5 {
    color: #999;
}

.message-sidebar a.new {
    background-color: #FFF;
}

.message-sidebar a.active {
    background-color: #008DCD;
    color: #FFF;
}

.message-sidebar a.active p, .message-sidebar a.active h5 {
    color: rgba(255, 255, 255, 0.8);
}

.message-sidebar a:hover {
    text-decoration: none;
    cursor: pointer;
}

.message-sidebar .load-more {
    text-align: center;
}

.load-more {
    background-color: #FFF;
}

.message-sidebar .load-more a {
    padding: 20px;
    display: block;
}

@media (min-width: 768px) {
    .message-sidebar {
        overflow: auto;
        height: 700px;
    }
}

.messages h4 {
    text-transform: none;
    font-weight: 400;
}

.messages .message {
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
}

.messages .message h5 {
    font-weight: 300;
}

.messages .message-body {
    padding-left: 80px;
}

.messages .message-body textarea {
    height: 80px;
    margin-right: 20px;
    width: 96%;
}
